@media (max-width: 575.98px){
    #header{
        padding-top:18vh;
    }

    #arrow1{
        margin-top: 10vh;
    }

    #content{
        height: auto;   
    }

    #footer{
        height: 80vh;
        padding-top: 20vh;
    }
}

@media (min-width: 576px) {
    #header{
        height: 100vh;
        padding-top: 20vh;
    }

    #arrow1{
        margin-top: 10vh;
    }

    #content{
        height: auto;
    }

    #footer{
        height: 80vh;
        padding-top: 20vh;
    }
}

@media (min-width: 768px) {
    #header{
        height: auto;
        padding-top: 10vh;
    }


    #content{
        height: auto;
        padding-top: 3vh;
    }
    
    #arrow2{
        margin-top: 5vh;
    }

    #footer{
        height: 80vh;
        padding-top: 30vh;
    }
}

@media (min-width: 992px) {
    
    #header{
        height: 100vh;
        padding-top:30vh;
    }

    #arrow1{
        margin-top: 13vh;
    }

    #content{
        height: auto;
    }

    #arrow2{
        margin-top: 10vh;
    }

    #footer{
        padding-top: 30vh;
        height: 80vh;
    }
}

@media (min-width: 1200px) {

}