@media (max-width: 575.98px){
    #header{
        padding-top:10vh;
    }

    #arrow1{
        margin-top: 10vh;
    }

    #content{
        height: 210vh;   
    }

    #footer{
        height: 80vh;
        padding-top: 20vh;
    }
}

@media (min-width: 576px) {
    #content{
        height: 107vh;
    }

    #footer{
        height: 80vh;
        padding-top: 20vh;
    }
}

@media (min-width: 768px) {
    #header{
        padding-top: 20vh;
    }

    #arrow1{
        margin-top: 40%;
    }

    #content{
        height: 123vh;
        padding-top: 3vh;
    }
    
    #arrow2{
        margin-top: 5%;
    }

    #footer{
        height: 80vh;
        padding-top: 30vh;
    }
}

@media (min-width: 992px) {
    
    #header{
        padding-top:30vh;
    }

    #arrow1{
        margin-top: 30%;
    }

    #arrow2{
        margin-top: 12%;
    }

    #footer{
        padding-top: 30vh;
        height: 80vh;
    }
}

@media (min-width: 1200px) {

    #arrow2{
        margin-top: 23%;
    }
    
}